

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myVideoDocumentLabel" jhiTranslate="videopocApp.videoDocument.home.createOrEditLabel">Create or edit a Video Document</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!videoDocument.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="videoDocument.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="videopocApp.videoDocument.documentName" for="field_documentName">Document Name</label>
            <input type="text" class="form-control" name="documentName" id="field_documentName"
                [(ngModel)]="videoDocument.documentName"
            required minlength="8" maxlength="200" />
            <div [hidden]="!(editForm.controls.documentName?.dirty && editForm.controls.documentName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.documentName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.documentName?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 8 }">
                   This field is required to be at least 8 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.documentName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                   This field cannot be longer than 200 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="videopocApp.videoDocument.sourceFilePath" for="field_sourceFilePath">Source File Path</label>
            <input type="text" class="form-control" name="sourceFilePath" id="field_sourceFilePath"
                [(ngModel)]="videoDocument.sourceFilePath"
            minlength="10" maxlength="512" />
            <div [hidden]="!(editForm.controls.sourceFilePath?.dirty && editForm.controls.sourceFilePath?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sourceFilePath?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 10 }">
                   This field is required to be at least 10 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sourceFilePath?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 512 }">
                   This field cannot be longer than 512 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="videopocApp.videoDocument.documentFilePath" for="field_documentFilePath">Document File Path</label>
            <input type="text" class="form-control" name="documentFilePath" id="field_documentFilePath"
                [(ngModel)]="videoDocument.documentFilePath"
            minlength="10" maxlength="512" />
            <div [hidden]="!(editForm.controls.documentFilePath?.dirty && editForm.controls.documentFilePath?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.documentFilePath?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 10 }">
                   This field is required to be at least 10 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.documentFilePath?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 512 }">
                   This field cannot be longer than 512 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="videopocApp.videoDocument.videoType" for="field_videoType">Video Type</label>
            <select class="form-control" id="field_videoType" name="videoType" [(ngModel)]="videoDocument.videoTypeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="videoTypeOption.id" *ngFor="let videoTypeOption of videotypes; trackBy: trackVideoTypeById">{{videoTypeOption.typeCode}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
