<div>
    <h2>
        <span jhiTranslate="videopocApp.videoDocument.home.title">Video Documents</span>
        <button class="btn btn-primary float-right create-video-document" [routerLink]="['/', { outlets: { popup: ['video-document-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="videopocApp.videoDocument.home.createLabel">
            Create new Video Document
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="videoDocuments">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="documentName"><span jhiTranslate="videopocApp.videoDocument.documentName">Document Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sourceFilePath"><span jhiTranslate="videopocApp.videoDocument.sourceFilePath">Source File Path</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="documentFilePath"><span jhiTranslate="videopocApp.videoDocument.documentFilePath">Document File Path</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="videoTypeTypeCode"><span jhiTranslate="videopocApp.videoDocument.videoType">Video Type</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let videoDocument of videoDocuments ;trackBy: trackId">
                <td><a [routerLink]="['../video-document', videoDocument.id ]">{{videoDocument.id}}</a></td>
                <td>{{videoDocument.documentName}}</td>
                <td>{{videoDocument.sourceFilePath}}</td>
                <td>{{videoDocument.documentFilePath}}</td>
                <td>
                    <div *ngIf="videoDocument.videoTypeId">
                        <a [routerLink]="['../video-type', videoDocument.videoTypeId  ]" >{{videoDocument.videoTypeTypeCode}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../video-document', videoDocument.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'video-document/'+ videoDocument.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'video-document/'+ videoDocument.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="videoDocuments && videoDocuments.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
